.frete-gratis {
  padding: 8px 0px;
  background: linear-gradient(to bottom, #2c2b2b, #302e2e 99%);
  width: 100%;
  height: 35px;
}
.frete-gratis p {
  text-align: center;
  font-family: "K2D", sans-serif;
  font-weight: 500;
  color: #ffffffd7;
  font-size: 14px;
  letter-spacing: 0.5px;
  z-index: 30;
}

.frete-gratis.fixed {
  position: sticky;
  top: 0px;
  height: 35px;
  z-index: 30;
}

body.hiden {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 100px;
  align-items: center;
  background-color: #f7f7f7;
  z-index: 4;
  width: 100%;
}

header.fixed {
  position: sticky;
  height: 82px;
  top: 35px;
}

.header-txt {
  display: flex;
  align-items: center;
}
.header-txt a {
  text-decoration: none;
}
.header-txt a .logo {
  display: flex;
  align-items: center;
}

.logo h3 {
  margin-left: 5px;
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #252525;
}

.header-txt ul {
  display: flex;
  list-style: none;
  margin-left: 35px;
  margin-top: 10px;
}

.header-txt ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  color: #383737;
  position: relative;
  display: inline-block;
  z-index: 300;
}

.header-txt ul li {
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.estampadas-header::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background: linear-gradient(180deg, #84321a 0%, #882d13 100%);
  position: absolute;
  display: block;
  bottom: 0px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.6s;
}

.estampadas-header:hover::after {
  transform: scaleX(1);
}

.header-icons ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 11px;
}

.header-icons li a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: rgba(37, 37, 37, 0.9);
  margin-left: 40px;
}

.dropdown {
  background-color: #e9e9e9;
  position: absolute;
  top: 125px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  border-bottom: 2px solid #a7a4a4;
  opacity: 0;
  transform-origin: top;
  transition: 0.4s;
  transform: scaleY(0);
  display: grid;
  z-index: 90;
}
.dropdown div {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a7a4a4;
}

.dropdown div a {
  display: block !important;
  font-size: 20px !important;
  margin: 0px !important;
  color: #565252 !important;
  padding: 10px 0px 15px 20px !important;
  width: 100%;
  transition: 0.3s;
  border-radius: 3px 3px 0px 0px;
}

.dropdown div a:hover {
  background-color: #d8d6d6;
}

.dropdown div a:hover > img {
  transform: rotate(-90deg);
}

.triangulo {
  position: absolute;
  top: -22px;
  justify-self: center;
}

.dropdown div img {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 25px;
  transition: 0.4s;
  margin-right: 20px;
}

.masc-drop:hover > div {
  opacity: 1;
  transform: scaleY(1);
}

.btn-menu {
  display: none;
}

.content {
  background-color: #f7f7f7;
  position: fixed;
  z-index: 10;
  display: none;
  width: 100vw;
  opacity: 0;
  height: calc(100vh - 117px);
  transition: 0.7s;
  top: 117px;
  transform: scaleY(0);
  transform-origin: top;
}

.content.show {
  transform: scaleY(1);
  opacity: 1;
}

.menu-responsivo-homem,
.menu-responsivo-mulher {
  border-bottom: 2px solid #29262621;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  justify-content: space-between;
}

.mobile-dropover,
.mobile-dropover-mulher {
  display: none;
}

.mobile-dropover.ativo,
.mobile-dropover-mulher.ativo {
  display: block;
}
.menu-responsivo-homem img.ativo,
.menu-responsivo-mulher img.ativo {
  transform: rotate(90deg);
  transition: 0.3s;
}

.menu-responsivo-homem img,
.menu-responsivo-mulher img {
  transition: 0.3s;
}
.mobile-dropover li a,
.mobile-dropover-mulher li a {
  border-bottom: 2px solid #29262621;
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: #383737;
}
.a-menu-responsivo-estampas {
  border-bottom: 2px solid #29262621;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
}

.menu-responsivo-homem p,
.menu-responsivo-mulher p,
.menu-responsivo-estampas p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #383737;
}

.menu-responsivo-homem img,
.menu-responsivo-mulher img {
  position: relative;
  top: 1px;
  width: 26px;
  display: inline-block;
}

.icons-mobile {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid #29262621;
  padding-top: 5px;
  background-color: #f7f7f7;
}

.icons-mobile a {
  padding: 8px;
}

@media (max-width: 1440px) {
  .header-txt ul li {
    margin-left: 30px;
  }
  header {
    padding: 15px 70px;
  }
}

@media (max-width: 1150px) {
  .header-txt ul {
    display: none;
  }
  .content {
    display: block;
  }
  header {
    justify-content: space-between;
    padding: 15px 30px;
    position: relative;
  }
  .logo {
    justify-self: center;
    display: block;
  }

  .header-icons {
    display: none;
  }

  header .btn-menu {
    display: block;
    justify-self: start;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }

  header button span {
    display: block;
    height: 20px;
    display: grid;
    justify-content: end;
    margin-top: 20px;
    transition: 0.2s;
    margin-right: 4.8px;
  }

  header button span::before {
    content: "";
    width: 30px;
    display: block;
    height: 0px;
    border-bottom: solid 2px #2b1c19;
    transition: 0.3s;
  }

  header button span::after {
    content: "";
    width: 30px;
    display: block;
    height: 0px;
    border-bottom: solid 2px #2b1c19;
    transition: 0.3s;
  }
}

header button span.descer::before {
  transform: translateY(4.5px);
}

header button span.descer::after {
  transform: translateY(-4.5px);
}

header .btn-menu span.girar::before {
  transform: rotate(-135deg);
  position: relative;
  top: 5px;
  border-bottom: solid 2px #292626;
  transition: 0.3s;
}

header .btn-menu span.girar::after {
  transform: rotate(135deg);
  position: relative;
  top: -5px;
  border-bottom: solid 2px #292626;
  transition: 0.3s;
}

@media (max-width: 343px) {
  .frete-gratis p {
    color: #ffffffd7;
    font-size: 12px;
  }
}
